%html
    %head
        %title HAML 
        %link{ :rel => "stylesheet", :href => "style.css" }
    %body
        .container
            .box.left-box  
                %p This is a box to the left 
            .box.right-box 
                %p This is a box to the left